.navbar {
    display: flex;
    background-color: #1f2224;
    border: 1px solid white;
    justify-content: space-between;
    height: 55px;
}

.github-logo {
    padding: 5px;
    border-right: 1px solid white;
    height: calc(100% - 10px);
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
    width: 100%;
}

.nav-item:last-child {
    border-right: none;
}

.nav-link {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Segoe UI', Frutiger, 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

